<section class="left">
	
	<section class="homepage trending group">

	<h2> Trending <h2>

	<% for(var i = 0; i < ranking.documents.length; i++) { %>
		
				
		<h3 class="homepage-link">
			<a class="group" href="#documents/<%= ranking.documents[i].id %>">
				<div class="title">
					<%= ranking.documents[i].title %>
				</div>

				<div class="rank">
					<% if(ranking.documents[i].annotations_count){ %>

						<%= ranking.documents[i].annotations_count %>

					<% } else { %>
						<%= 0 %>
					<% } %>
				</div>
			</a>
		</h3>

	<% } %>

	</section>

	<section class='homepage homepage-annotations'>
		
		<h2> Top Annotations</h2>

		<% for(var i = 0; i < ranking.annotations.length; i++) { %>

			<h3 class="homepage-link">
				<a class="group" href="#documents/<%= ranking.annotations[i].document_id %>">
					<div class="title">
						<%= ranking.annotations[i].title %>
					</div>

					<div class="rank">
						<% if(ranking.annotations[i].up_votes_count && ranking.annotations[i].down_votes_count ){ %>

							<%= ranking.annotations[i].up_votes_count - ranking.annotations[i].down_votes_count %>

						<% } else if (ranking.annotations[i].up_votes_count){ %>

							<%= ranking.annotations[i].up_votes_count%>

						<% } else if (ranking.annotations[i].down_votes_count) { %>

							<%= ranking.annotations[i].down_votes_count%>
						<% } else { %>
							<%= 0 %>
						<% } %>
					</div>
				</a>
			</h3>

		<% } %>
	</section>


	<section class="homepage group">

	<h2> Give These New Documents Some Love! <h2>

		<% for(var i = 0; i < ranking.new_documents.length; i++) { %>

			<h3 class="homepage-link">
				<a class="group" href="#documents/<%= ranking.new_documents[i].id  %>">
					<div class="title">
						<%= ranking.new_documents[i].title %>
					</div>

					<div class="rank">
						<% if(ranking.documents[i].annotations_count) { %>

							<%= ranking.documents[i].annotations_count %>

						<% } else { %>
							<%= 0 %>
						<% } %>
					</div>
				</a>			
			</h3>
		<% } %>

	</section>

</section>


<section class="right">

	<section class="homepage annotators group">
		
		<h2> Top Annotators </h2>

		<% for(var i = 0; i < ranking.users.length; i++) { %>
			
			<h3 class="homepage-link group">
				<div class="title">
					<%= ranking.users[i].username %>
				</div>
				
				<div class="rank">
					<% if(ranking.users[i].annotations_count){ %>

						<%= ranking.users[i].annotations_count %>

					<% } else { %>
						<%= 0 %>
					<% } %>
				</div>
			</h3>
		<% } %>
	</section>
	
</section>