<ul class="document-annotation-wrapper group">
<% console.log(CodeKindaSmart.popUps) %>

	<% if(CodeKindaSmart.popUps.doc && (!CodeKindaSmart.currentUser.username || CodeKindaSmart.currentUser.username === 'Guest')){ %>

	<% CodeKindaSmart.popUps.doc = false %>
	<% localStorage.setItem('popUps', JSON.stringify(CodeKindaSmart.popUps)) %>

		<div class='tour-wrapper'>		
		</div>

		<section class='tour'>
			<ul class='slides'>
				<li class='tourSlide currentSlide'>
					<p class='document-tour'>
						Just select some text to make a new annotation!
					</p>

					<p>
						Or, you can click on an old one to see what other people have to say!
					</p>
				</li>
			</ul>
			<ul class="document-buttons buttons">
				<li>
					<form action="">
						<p class="tour-button-ok button">
							<input type="submit" value="Close">
						</p>
					</form>
				</li>
			</ul>
		</section>

	<% } %>

	<li class="document-column">
		<section class="articles standalone-document">
			
			<section class="single-document">
				<h2 class="document-title group">
					<a href="/documents/<%= CodeKindaSmart.doc.id %>" class='document-title'>
					<%= CodeKindaSmart.doc.attributes.title %>
					</a>
				</h2>

				<section class="author-name group">

					<h2 class="author-name group">
						<a href="/authors/<%= CodeKindaSmart.doc.attributes.author.id %>" class="author-name">
							<%= CodeKindaSmart.doc.attributes.author.name %>
						</a>
					</h2>

					<section class="break"></section>

				</section>
				
				<section class='document-body'>
					<p class="document-text"></p>
					<div>
						<%= CodeKindaSmart.doc.attributes.annotated_body %>
					</div>

					<div>
						
						<% if(CodeKindaSmart.currentUser && CodeKindaSmart.doc.attributes.user_id == CodeKindaSmart.currentUser.id) { %>
							<article class="document group">
								<form action="" method="get">
								
										<p class="edit-document button">
											<input type="submit" value="Edit <%= CodeKindaSmart.doc.attributes.title %>">					
										</p>

								</form>

								<section>
									<form action="" method="post">

										<input type="hidden" name="_method" value="delete">

										<p class="delete-document button destroy group">
										<input type="hidden" name='annotation[id]' value="<%= CodeKindaSmart.doc.id %>">
											<label for="delete-button">Delete this Document?</label>
											<input type="submit" id="delete-button" value="Delete!">					
										</p>
									</form>
								</section>
							</article>

						<% } %>

					</div>
				</section>
			</section>
		</section>
		</li>

		<li class="annotation-column">
			

		</li>
	</ul>


	