<header class="header-wrapper group">

  <section class="dropdown">
    <ul>
      <li>

      </li>
      <li>

      </li>
      <li>

      </li>
    </ul>
  </section>

	<section class="header group">
		<h1 class="header-title"><a href="<%= root_url %>">Rap Kinda Smart</a></h1>

		<section>
			<% if current_user %>

        <ul class="user-info">
          
          <li>

          <form action="<%= session_url %>" method="post" accept-charset="utf-8">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="_method" value="delete">

            <p class="button log-out">
              <input type="submit" value="Log Out" class="">
            </p>
          </form>
            
          </li>

          <li>
            
          <a class="settings user" href="<%= settings_user_url(current_user.id) %>">
            Welcome! <%= current_user.username %>
          </a>
            
          </li>

          <li class="notifications">
            
            <a href="<%= notifications_url %>">Notifications</a>

            <% unless current_user.notifications.empty? %>
              <strong class="notification-number"><%= current_user.notifications.unread.size %></strong>
              <ul>
                <%= render partial: "notifications/notifications", collection: current_user.notifications.unread %>
              </ul>
              
            <% end %>

          </li>

  			<% else %>

          <li>
            
          <a href='<%= new_user_url %>' class='login-link'>Sign Up</a>
            
          </li>

          <li>

  				<a href='<%= new_session_url %>' class='login-link'>Login</a>
            
          </li>
    
  			<% end %>
          
        </ul>

		</section>
	</section>
  <nav class="nav group">

    <ul class="nav-alpha">

      <li>
        	<a class='nav-link' href="<%= new_document_url %>">  
      		New Document
        	</a>
      </li>

    </ul>

    <ul class="nav-beta">
      <li class="nav-link">
    	
      </li>
    </ul>

  </nav>

</header>