<section class="header group">
	<h1 class="header-title"><a class="home" href="<%= root_url %>">Rap Kinda Smart</a></h1>
  <div class="header-break"></div>

    <%= render partial: "shared/search_bar" %>

	<section>

    <ul class="user-info">
  
      <% if current_user %>

          <!-- The right half I've gotta break this out again, this file is getting too long, again -->

          <li class="notifications-number-link">
            <a href="<%= notifications_url %>">
            <!-- Notifications -->
              <strong class="notification-number"><%= current_user.notifications.unread.size %></strong>
            </a>

            <% unless current_user.notifications.empty? %>
              <ul class="notifications-dropbown">
                <%= render partial: "notifications/notifications", collection: current_user.notifications.unread, as: :notification %>
              </ul>
            <% end %>
          </li>

          <li>
            <a class="login-link" href="<%= settings_user_url(current_user.id) %>">
              Welcome! <%= current_user.username %>
            </a>            
          </li>

          <li>
            <form action="<%= session_url %>" method="post" accept-charset="utf-8">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <input type="hidden" name="_method" value="delete">

              <p class="button log-out">
                <input type="submit" value="Log Out">
              </p>
            </form>
          </li>

  			<% else %>
          <li>

  				<a href='<%= new_session_url %>' class='login-link'>Login</a>
            
          </li>

          <li>
            
          <a href='<%= new_user_url %>' class='login-link'>Sign Up</a>
            
          </li>
    		<% end %>
        
      </ul>

	</section>
</section>