<section class="header group">
	<h1 class="header-title"><a href="<%= root_url %>">Rap Kinda Smart</a></h1>

  <section class="search">

    <form action="<%= search_url %>" method="GET">

      <input type="text" name="query" value="<%= params[:query] %>">
      <input type="submit" value="Search!">

    </form>

  </section>

	<section>

    <ul class="user-info">
  
    <% if current_user %>

        <!-- The right half I've gotta break this out again, this file is getting too long, again -->

        <li class="notifications">
          
          <a href="<%= notifications_url %>">Notifications

          <% unless current_user.notifications.empty? %>
            <strong class="notification-number"><%= current_user.notifications.unread.size %></strong>

            </a>
            <ul class="notifications-dropbown">
              <%= render partial: "notifications/notifications", collection: current_user.notifications.unread, as: :notification %>
            </ul>
        </li>
        

        <li>
          
        <a class="settings user" href="<%= settings_user_url(current_user.id) %>">
          Welcome! <%= current_user.username %>
        </a>
          
        </li>

        <li>

        <form action="<%= session_url %>" method="post" accept-charset="utf-8">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="_method" value="delete">

          <p class="button log-out">
            <input type="submit" value="Log Out" class="">
          </p>
        </form>
          
        </li>
            
          <% end %>


			<% else %>
        <li>

				<a href='<%= new_session_url %>' class='login-link'>Login</a>
          
        </li>

        <li>
          
        <a href='<%= new_user_url %>' class='login-link'>Sign Up</a>
          
        </li>
  		<% end %>
        
      </ul>

	</section>
</section>