<section class="left">
	
	<section class="homepage trending group">

	<h2> Trending <h2>

	<% @documents.each do |document| %>
		
				
		<h3 class="homepage-link">
			<a class="group" href="<%= document_url(document.id) %>">
				<div class="title">
					<%= document.title %>
				</div>

				<div class="rank">
					<%= document.score %>
				</div>
			</a>
		</h3>

	<% end %>

	</section>

	<section class='homepage homepage-annotations'>
		
		<h2> Top Annotations</h2>

		<% @annotations.each do |annotation| %>

			<h3 class="homepage-link">
				<a class="group" href="<%= document_url(annotation.document_id) %>">
					<div class="title">
						<%= annotation.title %>
					</div>

					<div class="rank">
						<%= annotation.score %>
					</div>
				</a>
			</h3>

		<% end %>
	</section>


	<section class="homepage group">

	<h2> Give These New Documents Some Love! <h2>

		<% @new_documents.each do |document| %>

			<h3 class="homepage-link">
				<a class="group" href="<%= document_url(document.id) %>">
					<div class="title">
						<%= document.title %>
					</div>

					<div class="rank">
						<%= document.score %>
					</div>
				</a>			
			</h3>
		<% end %>

	</section>

</section>


<section class="right">

	<section class="homepage annotators group">
		
		<h2> Top Annotators </h2>

		<% @users.each do |user| %>
			
			<h3 class="homepage-link group">
				<div class="title">
					<%= user.username %>
				</div>
				
				<div class="rank">
					<%= user.score %>
				</div>
			</h3>
		<% end %>
	</section>
	
</section>