<section class="articles standalone-document">
  
  <%= render partial: "standalone_document", locals: {document: @document} %>

  <%= render partial: "annotations/new", locals: {document: @document}  %>

  <% if current_user && current_user.id == @document.user_id %>

  <article class="document group">
  	<form action="<%= edit_document_url(@document.id) %>" method="get">

				<%= token_tag nil %>
				<p class="button">
					<input type="submit" value="Edit <%= @document.title %>">					
				</p>

  	</form>
  <% end %>
  	<p class="break">
  		
  	</p>
 		<%= render partial: "shared/delete_button", locals: {to_delete: @document, delete_url: document_url(@document.id)} %>
  </article>
  	
  

</section>