	<section class="annotation-wrapper">
		<section class="annotation">
			<h2 class="annotation-title"><%= annotation.title %></h2>
			<h2 class="annotation-title"><%= annotation.user.username %></h2>
			<span class="annotation-body group"> <%= annotation.body %> </span>
		</section>


		<%= render partial: "annotations/vote", locals: {annotation: annotation} %>

		<% if current_user %>

	  <article class="annotation-buttons group">

	  	<form action="<%= edit_annotation_url(annotation.id) %>" method="get">

				<%= token_tag nil %>
				<p class="button group">
					<label for="Edit">Edit this annotation?</label>
					<input type="submit" id="Edit" value="Edit!">
				</p>

			</form>

		<% end %>

		<p class="break"></p>

		<%= render partial: "shared/delete_button", locals: {to_delete: annotation, delete_url: annotation_url(annotation.id)} %>
		</article>
	</section>