<!DOCTYPE html>
<html>
	<head>
		<title>RapKindaSmart</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>

		<%= render partial: "shared/header" %>
		<section class="body group">
		
			<section class="notices group">
				<% if flash[:errors] %>

					<% flash[:errors].each do |error| %>
						<p class='error'>
							<%= error %>
						</p>
					<% end %>
				<% elsif flash[:notices] %>

					<% flash[:notices].each do |msg| %>
						<p class='notice'>
							<%= msg %>
						</p>
					<% end %>
				<% end %>
			</section>

			<section id="body">
				
				<%= yield %>
			
			</section>

	 </section>

	 <%= render partial: "shared/footer" %>

	 <script>
			//initiating jQuery
			jQuery(function($) {
			  $(document).ready( function() {
			    //enabling stickUp on the '.navbar-wrapper' class
			    $('.navbar-wrapper').stickUp();
			  });
			});
	 </script>
	</body>
</html>