<!DOCTYPE html>
<html>
	<head>
		<title>RapKindaSmart</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>

	<%= render partial: "shared/header" %>
	
		<section class="notices">
			<% if flash[:errors] %>

				<% flash[:errors].each do |error| %>
					<p class='error'>
						<%= error %>
					</p>
				<% end %>
			<% elsif flash[:notices] %>

				<% flash[:notices].each do |msg| %>
					<p class='notice'>
						<%= msg %>
					</p>
				<% end %>
			<% end %>
		</section>

    <section class="body">

			<%= yield %>

    </section>


<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=9769475; 
var sc_invisible=1; 
var sc_security="5d4a0e4f"; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="web analytics"
href="http://statcounter.com/" target="_blank"><img
class="statcounter"
src="http://c.statcounter.com/9769475/0/5d4a0e4f/1/"
alt="web analytics"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->

	</body>
</html>