<!DOCTYPE html>
<html>
	<head>
		<title>RapKindaSmart</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<% if current_user %>
			<%= content_tag :div, class: "currentUserInformation", data: {currentUser: current_user} do %>
			<% end %>
		<% else %>
			<%= content_tag :div, class: "currentUserInformation",
				data: {currentUser: User.new} do %>
			<% end %>
		<% end %>

		<%= render partial: "shared/header" %>
		<section class="body group">
		
			<section class="notices group">
				<% if flash[:errors] %>

					<% flash[:errors].each do |error| %>
						<p id="error" class='error'>
							<%= error %>
						</p>
					<% end %>
				<% elsif flash[:notices] %>

					<% flash[:notices].each do |msg| %>
						<p id='notice' class='notice'>
							<%= msg %>
						</p>
					<% end %>
				<% end %>
			</section>
				
				<%= yield %>

	 </section>

	 <%= render partial: "shared/footer" %>

	 <script>
	 		CodeKindaSmart.currentUser = $('.currentUserInformation').data('currentuser')

			//initiating jQuery
			jQuery(function($) {
			  $(document).ready( function() {
			    //enabling stickUp on the '.navbar-wrapper' class
			    $('.navbar-wrapper').stickUp();
			  });
			});
	 </script>
	</body>
</html>