<!DOCTYPE html>
<html>
	<head>
		<title>RapKindaSmart</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<header class="header-wrapper group">

      <section class="dropdown">
        <ul>
          <li>

          </li>
          <li>

          </li>
          <li>

          </li>
        </ul>
      </section>

			<section class="header group">
				<h1 class="header-title"><a href="<%= root_url %>">Rap Kinda Smart</a></h1>

				<section class='login'>
					<% if current_user %>


            <form action="<%= session_url %>" method="post" accept-charset="utf-8">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <input type="hidden" name="_method" value="delete">

              <p class="button log-out"><input type="submit" value="Log Out" class="button log-out"></p>
            </form>

            <!-- <p class='welcome user'> -->
              <a class="settings user" href="<%= settings_user_url(current_user.id) %>">
                Welcome! <%= current_user.username %>
              </a>
            <!-- </p> -->

					<% else %>
						<a href='<%= new_session_url %>' class='login-link'>Login</a>
						<a href='<%= new_user_url %>' class='login-link'>Sign Up</a>
					<% end %>
				</section>
			</section>
      <nav class="nav">

        <ul class="nav-alpha">

          <li class="nav-link">

          </li>

        </ul>

        <ul class="nav-beta">
	        <li class="nav-link">
        	
	        </li>
        </ul>

      </nav>

		</header>
		<section class="notices">
			<% if flash[:errors] %>

				<% flash[:errors].each do |error| %>
					<p class='error'>
						<%= error %>
					</p>
				<% end %>
			<% elsif flash[:notices] %>

				<% flash[:notices].each do |msg| %>
					<p class='notice'>
						<%= msg %>
					</p>
				<% end %>
			<% end %>
		</section>

    <section class="body">

			<%= yield %>

    </section>

	</body>
</html>