<!DOCTYPE html>
<html>
<head>
  <title>CodeKindaSmart</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header group">

	<h1 class="header">Rap Kinda Smart</h1>
	<div class='login'>
		<a href='<%= new_session_url %>' class='login-link group'>Login</a>
		<a href='<%= new_user_url %>' class='login-link group'>Sign Up</a>
	</div>
</div>

<%= yield %>

</body>
</html>
