<!DOCTYPE html>
<html>
<head>
  <title>CodeKindaSmart</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header group">

	<h1 class="header"><a href="<%= root_url %>">Rap Kinda Smart</a></h1>
	<div class='login'>
		<% if current_user %>
			<p class='welcome'>Welcome! <%= current_user.username %></p>
			<%= button_to "Log Out", session_url, method: :delete %> 
		<% else %>
			<a href='<%= new_session_url %>' class='login-link group'>Login</a>
			<a href='<%= new_user_url %>' class='login-link group'>Sign Up</a>
		<% end %>
	</div>
</div>

<%= yield %>

</body>
</html>
